
All Phase 2 Subcomponents are built and tested to work.


Start with datapath working from phase 1.

Iterate over the following:
	Add component, add ports, signals, portmap
	Test until it works

If Phase 1 datapath_tb works with Phase 2 ports
	Build load instruction.
Else
	Continue to iterate